<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcooler.sgma.studygroupmember.query.repository.StudyGroupMemberMapper">
    <resultMap id="studyGroupMemberResultMap" type="com.springcooler.sgma.studygroupmember.query.dto.StudyGroupMemberDTO">
        <id property="memberId" column="MEMBER_ID"/>
        <result property="memberEnrolledAt" column="MEMBER_ENROLLED_AT"/>
        <result property="memberWithdrawnAt" column="MEMBER_WITHDRAWN_AT"/>
        <result property="memberStatus" column="MEMBER_STATUS"/>
        <result property="userId" column="USER_ID"/>
        <result property="groupId" column="GROUP_ID"/>
    </resultMap>

    <select id="findStudyGroupMemberByMemberId" resultMap="studyGroupMemberResultMap" parameterType="Long">
        SELECT
               A.MEMBER_ID
             , A.MEMBER_ENROLLED_AT
             , A.MEMBER_WITHDRAWN_AT
             , A.MEMBER_STATUS
             , A.USER_ID
             , A.GROUP_ID
          FROM STUDY_GROUP_MEMBER A
         WHERE A.MEMBER_STATUS = 'ACTIVE' AND A.MEMBER_ID = #{ memberId }
         ORDER BY A.MEMBER_ID
    </select>

    <select id="findStudyGroupMembersByGroupId" resultMap="studyGroupMemberResultMap" parameterType="Long">
        SELECT
               A.MEMBER_ID
             , A.MEMBER_ENROLLED_AT
             , A.MEMBER_WITHDRAWN_AT
             , A.MEMBER_STATUS
             , A.USER_ID
             , A.GROUP_ID
          FROM STUDY_GROUP_MEMBER A
         WHERE A.MEMBER_STATUS = 'ACTIVE' AND A.GROUP_ID = #{ groupId }
         ORDER BY A.MEMBER_ID
    </select>

    <select id="findStudyGroupMembersByUserId" resultMap="studyGroupMemberResultMap" parameterType="Long">
        SELECT
               A.MEMBER_ID
             , A.MEMBER_ENROLLED_AT
             , A.MEMBER_WITHDRAWN_AT
             , A.MEMBER_STATUS
             , A.USER_ID
             , A.GROUP_ID
          FROM STUDY_GROUP_MEMBER A
         WHERE A.MEMBER_STATUS = 'ACTIVE' AND A.USER_ID = #{ userId }
         ORDER BY A.MEMBER_ID
    </select>

</mapper>