<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcooler.sgma.studyschedule.query.repository.StudyScheduleMapper">
    <resultMap id="studySchedule" type="com.springcooler.sgma.studyschedule.query.dto.StudyScheduleDTO">
        <id property="scheduleId" column="SCHEDULE_ID"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="scheduleStartTime" column="SCHEDULE_START_TIME"/>
        <result property="scheduleEndTime" column="SCHEDULE_END_TIME"/>
        <result property="numParticipants" column="NUM_PARTICIPANTS"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="numProblemsPerParticipant" column="NUM_PROBLEMS_PER_PARTICIPANT"/>
        <result property="activeStatus" column="ACTIVE_STATUS"/>
        <result property="testStatus" column="TEST_STATUS"/>
        <result property="testAverage" column="TEST_AVERAGE"/>
        <result property="testStandardDeviation" column="TEST_STANDARD_DEVIATION"/>
    </resultMap>

    <!-- 스터디 그룹 일정 단건 조회 (Schedule ID로) -->
    <select id="findStudyScheduleByScheduleId" resultMap="studySchedule">
        SELECT
            SCHEDULE_ID
            , TITLE
            , CONTENT
            , SCHEDULE_START_TIME
            , SCHEDULE_END_TIME
            , NUM_PARTICIPANTS
            , ACTIVE_STATUS
            , TEST_STATUS
            , TEST_AVERAGE
            , TEST_STANDARD_DEVIATION
            , GROUP_ID
            , NUM_PROBLEMS_PER_PARTICIPANT
        FROM STUDY_SCHEDULE
        WHERE SCHEDULE_ID = #{scheduleId}
    </select>

    <!-- 스터디 그룹 일정 전체 조회 (Group ID로) -->
    <select id="findStudyScheduleByGroupId" resultMap="studySchedule">
        SELECT
            SCHEDULE_ID
            , TITLE
            , CONTENT
            , SCHEDULE_START_TIME
            , SCHEDULE_END_TIME
            , NUM_PARTICIPANTS
            , ACTIVE_STATUS
            , TEST_STATUS
            , TEST_AVERAGE
            , TEST_STANDARD_DEVIATION
            , GROUP_ID
            , NUM_PROBLEMS_PER_PARTICIPANT
        FROM STUDY_SCHEDULE
        WHERE GROUP_ID = #{groupId}
    </select>

    <!-- 스터디 그룹 일정 기간별 조회 -->
    <select id="findStudySchedulesByPeriod" resultMap="studySchedule">
        SELECT
              SCHEDULE_ID
            , TITLE
            , CONTENT
            , SCHEDULE_START_TIME
            , SCHEDULE_END_TIME
            , NUM_PARTICIPANTS
            , ACTIVE_STATUS
            , TEST_STATUS
            , TEST_AVERAGE
            , TEST_STANDARD_DEVIATION
            , GROUP_ID
            , NUM_PROBLEMS_PER_PARTICIPANT
        FROM STUDY_SCHEDULE
        WHERE GROUP_ID = #{groupId} AND SCHEDULE_START_TIME >= #{startDate} AND #{endDate} >= SCHEDULE_END_TIME
    </select>

    <!-- 스터디 그룹 일정 시험의 통계 자료 조회 -->
    <select id="findStudyScheduleByStatistics" resultMap="studySchedule">
        SELECT
              SCHEDULE_ID
            , TITLE
            , CONTENT
            , SCHEDULE_START_TIME
            , SCHEDULE_END_TIME
            , NUM_PARTICIPANTS
            , ACTIVE_STATUS
            , TEST_STATUS
            , TEST_AVERAGE
            , TEST_STANDARD_DEVIATION
            , GROUP_ID
            , NUM_PROBLEMS_PER_PARTICIPANT
        FROM STUDY_SCHEDULE
        WHERE SCHEDULE_ID = #{scheduleId} AND TEST_STATUS = 'Y'
    </select>

</mapper>
