<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcooler.sgma.studygroupboardreply.query.repository.StudyGroupBoardReplyMapper">
    <resultMap id="studyGroupBoardReplyResultMap"
               type="com.springcooler.sgma.studygroupboardreply.query.dto.StudyGroupBoardReplyDTO">
        <id property="studyGroupBoardReplyId" column="STUDY_GROUP_BOARD_REPLY_ID"/>
        <result property="content" column="CONTENT"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="activeStatus" column="ACTIVE_STATUS"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="studyGroupBoardCommentId" column="STUDY_GROUP_BOARD_COMMENT_ID"/>
    </resultMap>

    <select id="findStudyGroupBoardRepliesByCommentId" resultMap="studyGroupBoardReplyResultMap" parameterType="Long">
        SELECT
               A.STUDY_GROUP_BOARD_REPLY_ID
             , A.CONTENT
             , A.CREATED_AT
             , A.UPDATED_AT
             , A.ACTIVE_STATUS
             , A.MEMBER_ID
             , C.NICKNAME
             , A.STUDY_GROUP_BOARD_COMMENT_ID
          FROM STUDY_GROUP_BOARD_REPLY A
          JOIN STUDY_GROUP_MEMBER B
            ON A.MEMBER_ID = B.MEMBER_ID
          JOIN USER C
            ON C.USER_ID = B.USER_ID
         WHERE A.ACTIVE_STATUS = 'ACTIVE' AND A.STUDY_GROUP_BOARD_COMMENT_ID = #{ commentId }
         ORDER BY A.STUDY_GROUP_BOARD_REPLY_ID ASC
    </select>

    <select id="findStudyGroupBoardRepliesByMemberId" resultMap="studyGroupBoardReplyResultMap" parameterType="Long">
        SELECT
               A.STUDY_GROUP_BOARD_REPLY_ID
             , A.CONTENT
             , A.CREATED_AT
             , A.UPDATED_AT
             , A.ACTIVE_STATUS
             , A.MEMBER_ID
             , C.NICKNAME
             , A.STUDY_GROUP_BOARD_COMMENT_ID
          FROM STUDY_GROUP_BOARD_REPLY A
          JOIN STUDY_GROUP_MEMBER B
            ON A.MEMBER_ID = B.MEMBER_ID
          JOIN USER C
            ON C.USER_ID = B.USER_ID
         WHERE A.ACTIVE_STATUS = 'ACTIVE' AND A.MEMBER_ID = #{ memberId }
         ORDER BY A.STUDY_GROUP_BOARD_REPLY_ID ASC
    </select>

</mapper>