<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcooler.sgma.studygroupboardcomment.query.repository.StudyGroupBoardCommentMapper">
    <resultMap id="studyGroupBoardCommentResultMap"
               type="com.springcooler.sgma.studygroupboardcomment.query.dto.StudyGroupBoardCommentDTO">
        <id property="studyGroupBoardCommentId" column="STUDY_GROUP_BOARD_COMMENT_ID"/>
        <result property="content" column="CONTENT"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="activeStatus" column="ACTIVE_STATUS"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="studyGroupBoardId" column="STUDY_GROUP_BOARD_ID"/>
    </resultMap>

    <select id="findStudyGroupBoardCommentsByBoardId" resultMap="studyGroupBoardCommentResultMap" parameterType="Long">
        SELECT
               A.STUDY_GROUP_BOARD_COMMENT_ID
             , A.CONTENT
             , A.CREATED_AT
             , A.UPDATED_AT
             , A.ACTIVE_STATUS
             , A.MEMBER_ID
             , C.NICKNAME
             , A.STUDY_GROUP_BOARD_ID
          FROM STUDY_GROUP_BOARD_COMMENT A
          JOIN STUDY_GROUP_MEMBER B
            ON A.MEMBER_ID = B.MEMBER_ID
          JOIN USER C
            ON C.USER_ID = B.USER_ID
         WHERE A.ACTIVE_STATUS = 'ACTIVE' AND A.STUDY_GROUP_BOARD_ID = #{ boardId }
         ORDER BY A.STUDY_GROUP_BOARD_COMMENT_ID ASC
    </select>

    <select id="findStudyGroupBoardCommentsByMemberId" resultMap="studyGroupBoardCommentResultMap" parameterType="Long">
        SELECT
               A.STUDY_GROUP_BOARD_COMMENT_ID
             , A.CONTENT
             , A.CREATED_AT
             , A.UPDATED_AT
             , A.ACTIVE_STATUS
             , A.MEMBER_ID
             , C.NICKNAME
             , A.STUDY_GROUP_BOARD_ID
          FROM STUDY_GROUP_BOARD_COMMENT A
          JOIN STUDY_GROUP_MEMBER B
            ON A.MEMBER_ID = B.MEMBER_ID
          JOIN USER C
            ON C.USER_ID = B.USER_ID
         WHERE A.ACTIVE_STATUS = 'ACTIVE' AND A.MEMBER_ID = #{ memberId }
         ORDER BY A.STUDY_GROUP_BOARD_COMMENT_ID ASC
    </select>

</mapper>