<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcooler.sgma.studygroupapplicant.query.repository.StudyGroupApplicantMapper">

    <resultMap id="studyGroupApplicant" type="com.springcooler.sgma.studygroupapplicant.query.dto.StudyGroupApplicantDTO">
        <id property="userId" column="USER_ID"/>
        <result property="applicationStatus" column="APPLICATION_STATUS"/>
        <result property="recruitmentBoardId" column="RECRUITMENT_BOARD_ID"/>
        <result property="nickname" column="USER_NICKNAME"/>
    </resultMap>

    <select id="findStudyGroupApplicantByUserId" resultMap="studyGroupApplicant">
        SELECT
        A.USER_ID,
        A.APPLICATION_STATUS,
        A.RECRUITMENT_BOARD_ID
        FROM STUDY_GROUP_APPLICANT A
        WHERE A.USER_ID =#{ userId }





    </select>


    <select id="findStudyGroupApplicantByRecruitmentBoardId" resultMap="studyGroupApplicant" parameterType="Long">
        SELECT
        A.USER_ID,
        A.APPLICATION_STATUS,
        A.RECRUITMENT_BOARD_ID
        FROM STUDY_GROUP_APPLICANT A
        WHERE A.RECRUITMENT_BOARD_ID =#{ recruitmentBoardId }
    </select>

    <select id="findStudyGroupApplicantByGroupId" resultMap="studyGroupApplicant" parameterType="Long">
        SELECT
        A.user_id,
        A.recruitment_board_id,
        A.application_status,
        B.nickname AS USER_NICKNAME
        FROM study_group_applicant A
        JOIN USER B ON A.USER_ID = B.USER_ID
        WHERE group_id=#{groupId} and application_status="WAIT";
    </select>

</mapper>